.how-it-work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.how-it-work img {
    width: 100px;
    height: 100px;
}

@media only screen and (max-width:688px) {
    .how-it-work {
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }
}